:root {
    --primary-color: #2271B1;
    --dark-bg: #1D2327;
    --white-color: #f0f0f1;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

input:not([type='submit']),
textarea {
    width: 100%;
    font-size: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    color: var(--dark-bg);
}

/* input:not([type='submit']){}
textarea{} */

input[type='submit'] {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    font-weight: 600;
}

.msg {
    margin: 10px 0;
    padding: 14px;
    border-radius: 5px;
}

.msg.error {
    background: #ca2828;
    color: #fff;
}

.msg.success {
    background: #4db34d;
    color: #fff;
}







/* ------------ Topbar Style Start ------------- */

#topbar a {
    color: var(--white-color);
}

/* ------------ Topbar Style End ------------- */


/* ------------ Sidebar Style Start ------------- */

#sidebar li {
    padding: 7px 15px;
}

#sidebar li a {
    color: var(--white-color);
}

/* ------------ Sidebar Style End ------------- */